/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.header, .nav, .content, .footer {
		width: 100%;
	}	
	.content .col-1, .content .col-2 {
		width: 100%;
	}
	.content .col-2 #gmapDiv {
		height: 320px;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.header, .nav, .content, .footer {
		width: 100%;
	}	
	.content .col-1, .content .col-2 {
		width: 100%;
	}
	.content .col-2 #gmapDiv {
		height: 360px;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.header, .nav, .content, .footer {
		width: 100%;
	}
	.content .col-1 {
		width: 30%;
	}
	.content .col-2 {
		width: 70%;
		min-height: 600px;
	}
	.content .col-2 #gmapDiv {
		height: 360px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.header, .nav, .content, .footer {
		width: 100%;
	}
	.content .col-1 {
		width: 25%;
	}
	.content .col-2 {
		width: 75%;
		min-height: 600px;
	}
	.content .col-2 #gmapDiv {
		height: 480px;
	}	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.header, .nav, .content, .footer {
		width: 100%;
	}	
	.content .col-1 {
		width: 20%;
	}
	.content .col-2 {
		width: 80%;
		min-height: 800px;
	}
	.content .col-2 #gmapDiv {
		height: 660px;
	}
}

body {
	display: table;
	width: 100%;
	height: auto;
	padding: 20px;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	color: #008080;
}

/* Header */
.header {
	display: table-row;
	background-color: #f1f1f1;
  	text-align: center;
}

/* Navigation */
.nav {
	display: table-row;
	box-sizing: border-box;
	background-color: #008080;
}
.nav ul {
	list-style-type: none;
	overflow: hidden;
	cursor: pointer;
	padding: 0;
	margin: 10px 10px 10px 10px;
}
.nav ul li {
	display: inline-block;
	padding: 10px 10px 10px 10px;
	min-width: 50px;
	color: white;
	font-size: large;
  	text-align: center;
}
.nav ul li:hover {
	background-color: #ddd;
  	color: #008080;
	border-bottom: 2px solid black;  
}

/* Main container */
.content {
	display: table-row;
	box-sizing: border-box;
	background-color: #f1f1f1;
}
.content .col-1 {
	display: block;
	float: left;
	box-sizing: border-box;
	padding: 10px 10px 0px 10px;
}
.content .col-2 {
	display: block;
	float: left;
	box-sizing: border-box;
	padding: 10px 0px 0px 10px;	
	border-left: 2px solid white;
}

/* Left menu */
.content .col-1 .input-container {
	display: flex;
	width: 100%;
}

/* Search field */
.content .col-1 .input-field {
	width: 100%;
	outline: none;
	font-size: large;
	padding: 10px 0px 10px 0px;
}
.content .col-1 .input-field:focus {
	border: 2px solid #008080;
}

/* Region list */
.content .col-1 .listLevel1 {
	list-style-type: square;
  	overflow: hidden;
	padding-left: 20px;
	cursor: pointer;
}
.content .col-1 .listLevel1 li {
	font-size: large;
	padding: 5px 0 5px 0;
}
.content .col-1 .listLevel1 li:hover {
	color: #008080;
}

/* City list */
.content .col-1 .listLevel2 {
	display: none;
	list-style-type: square;
	padding-left: 20px;
	color: black;
}
.content .col-1 .listLevel2 li {
	font-size: large;
	padding: 3px 0 3px 0;
}
.content .col-1 .listLevel2 li:hover {
	color: #008080;
	text-decoration: underline;
}

/* Weather information and map */
.content .col-2 #weatherInfo {
	position: relative;
	display: none;
	width: 100%;
	height: auto;
	font-size: large;
	color: black; 
}
.content .col-2 #weatherInfo p {
	margin: 5px 0px 5px 0px;
	line-height: 1.5;
}

.content .col-2 #weatherInfo .forecastIcon {
	position: absolute;
	top: 42px;
	left: 280px;
	width: 70px;
	height: 60px;
	background-color: #e6e6e6;
	border-radius: 12px;
}

/* Map */
.content .col-2 #gmapDiv {
	display: block;
	width: 100%; 
}

.content:after {
	clear: both;
}

.footer {
	display: table-row;
	background-color: #f1f1f1;
  	text-align: center;
  	height: 80px;	
}

#toast {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
}

#toast.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.badge {
    display: inline-block;
    padding: 3px 8px 3px 8px;
    font-size: large;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #4e4d4a;
    border-radius: 10px;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}